@import './base.css';
@import './forms.css';

main {
  margin: var(--space-md) var(--space-lg1);
}

strong {
  font-weight: bold;
}

table.table {
  border-collapse: collapse;
  width: 100%;
}
table.table thead td {
  padding: 0 var(--space-sm1);
}
table.table thead tr.super td {
  padding: 0 var(--space-sm1);
}

table.table thead .main td, tbody td {
  border-bottom: 1px solid var(--bg-ii);
  padding: var(--space-sm2) var(--space-sm1);
}
table.table thead tr.main td {
  padding-top: 0;
}

.nav a {
  text-decoration: none;
}

.devnote, .dim {
  color: var(--fg-ii);
}


.base-details-screen {
  --column-gap: var(--space-md);
  display: grid;
  column-gap: var(--column-gap);
  grid-template-columns: [info-start] 1fr 1fr [activity-start] 1fr;

  .info-full-width {
    grid-column: span 2;
  }
}


.report-info, .report-meta, .report-focii {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: info-start / activity-start;
  row-gap: var(--space-md);
}

.report-info {
  background-color: var(--bg);
  border: 1px solid var(--bg-ii);

  --inset: var(--space-sm1);
  margin-left: calc(-1 * var(--inset));
  padding: var(--inset);
  border-radius: var(--inset);
}

.report-meta, .report-focii, .report-actions {
  border-top: 1px solid var(--bg-ii);
  padding-top: var(--space-md);
}

.report-posts, .report-profiles {
  display: grid;
  row-gap: var(--space-sm1);
  align-content: start;
}

.reported-post, .reported-profile {
  padding: var(--space-sm2);
  background-color: var(--bg-i);
  border: 1px solid var(--bg-ii);
  --border-radius:  var(--space-sm1);
  border-radius: var(--border-radius);
}
.post-content {
  background-color: var(--bg);
  margin: calc(-1 * var(--space-sm2)) calc(-1 * var(--space-sm2)) var(--space-sm2);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  padding: var(--space-sm2);
}

.report-actions {
  .actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--space-md);
    row-gap: var(--space-sm3);
  }

  .actions label {
    display: block;
  }
}


